@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");

:root {
  /* colors  */

  --clr-red: #ff4a38;
  --clr-black: #2d2d2d;
  --clr-white: #ffffff;
  --clr-gray: #f8f8f8;

  /* fonts  */

  --poppins-regular: 400 1em/1.2 "Poppins";
  --poppins-extra-light: 200 1em/1.2 "Poppins";
  --poppins-semibold: 600 1em/1.2 "Poppins";
  --poppins-bold: 700 1em/1.2 "Poppins";
}
.description {
  max-width: 550px;
  margin: auto;
}
.t-description {
  text-align: center;
}
.t-description > h1 {
  font: var(--poppins-semibold);
  font-size: 2rem;
  color: var(--clr-red);
}
.t-description > p {
  font: var(--poppins-semibold);
  font-size: 0.875rem;
}
.container {
  font: var(--poppins-semibold);
  font-size: 0.875rem;
}
.dapr {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.place {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.col {
  text-align: left;
}
.date {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.spots {
  text-align: left;
  padding: 0.8rem 0.3rem;
}
.spots > p {
  font: var(--poppins-semibold);
}
.spots > a {
  font: var(--poppins-semibold);
  font-size: 0.875rem;
}
.sess-img {
  margin: auto;
  padding-top: 2rem;
  max-width: 550px;
  max-height: 550px;
  object-fit: contain;
  text-align: center;
  overflow: hidden;
}
.sess-img > h3 {
  font: var(--poppins-semibold);
  font-size: 1.25rem;
  padding: 1rem;
}
.sess-img > p {
  font: var(--poppins-semibold);
  font-size: 1rem;
}
.right {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.sessions {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.sessions {
  padding: 1rem;
}
.sessions > h2 {
  font: var(--poppins-semibold);
  font-size: 1.75rem;
}
#load {
  font: var(--poppins-semibold);
  color: var(--clr-red);
}
.sess-details .sess-details > h5 {
  font: var(--poppins-semibold);
  border-bottom: 1px solid var(--clr-black);
  padding: 0.625rem 0;
}
.sess-details {
  text-align: left;
  padding: 1rem;
}
.sess-details > h5 {
  font: var(--poppins-semibold);
  font-size: 1rem;
}
.sess-details p {
  font: var(--poppins-semibold);
  font-size: 0.875rem;
  color: var(--clr-black);
  margin-right: 2rem;
}

.sess-details .gray-p {
  opacity: 0.8;
}
.sess-details > a {
  font: var(--poppins-semibold);
  color: var(--clr-red);
  font-size: 0.875rem;
}
.time {
  font: var(--poppins-semibold);
  font-size: 0.875rem;
  padding: 2rem 1rem;
}
.time > p:hover {
  cursor: pointer;
  opacity: 0.7;
}
.time > a {
  font: var(--poppins-semibold);
  font-size: 0.875rem;
  padding: 0.6rem 2rem;
}
.m-contact {
  margin: auto;
  max-width: 500px;
  background-color: var(--clr-gray);
  padding: 3rem 1rem 2rem 1rem;
}

.m-contact > h2 {
  font: var(--poppins-semibold);
  font-size: 1.25rem;
  color: var(--clr-red);
}
.m-contact > p {
  margin: 0;
  font: var(--poppins-semibold);
  font-size: 0.875rem;
}
@media (max-width: 991.98px) {
  .d-contact {
    display: none;
  }
  .d-web {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sess-img {
    padding-bottom: 5rem;
    margin-bottom: 5rem;
  }
  .sess-img > p {
    width: 80%;
    font-size: 0.875rem;
    margin: auto;
    height: 200px;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 520px;
  }
  .bd {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  .sess-details {
    max-width: 720px;
  }
  .sess-details:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border: 0;
  }
  .sess-details > h5 {
    border-bottom: 1px solid var(--clr-black);
    padding-bottom: 1rem;
    font: var(--poppins-semibold);
    font-size: 0.875rem;
  }
  .gray-p:nth-child(3) {
    margin: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .sessions {
    max-width: 550px;
    padding: 1rem;
  }
  .sessions > p {
    font: var(--poppins-semibold);
    font-size: 0.875rem;
    padding-top: 0.625rem;
  }
}
@media (min-width: 992px) {
  .m-contact {
    display: none;
  }
  .d-contact {
    padding: 1.4rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .d-contact > h2 {
    font: var(--poppins-semibold);
    font-size: 1.25rem;
    padding-bottom: 1rem;
  }
  .d-contact > p {
    margin: 0;
    font: var(--poppins-semibold);
    font-size: 1rem;
  }
  .d-web {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin: 3rem 5.5rem;
  }
  .right {
    margin: 0;
    width: 43%;
  }
  .time > .link-btn {
    font: var(--poppins-extra-light);
    background-color: var(--clr-white);
    color: var(--clr-red);
    border: 1px solid var(--clr-red);
  }
  .time > .link-btn:hover {
    background-color: var(--clr-red);
    color: var(--clr-white);
  }
  .time > p {
    padding: 0.5rem 0;
  }
  .place {
    all: unset;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }
  .t-description {
    text-align: left;
    padding: 1rem 0;
  }
  .t-description > h1 {
    font-size: 2.5rem;
  }
  .t-description > p {
    padding: 1rem 0;
    font-size: 1rem;
  }

  .sess-img {
    text-align: left;
  }
  .sess-img > h3 {
    padding: 1rem 0;
  }
  .sessions {
    border: none;
    background-color: var(--clr-gray);
    padding: 3rem;
    width: 100%;
  }
  .sessions > h2 {
    color: var(--clr-red);
    font-size: 1.75rem;
  }
  .sessions > p {
    font: var(--poppins-semibold);
    font-size: 1rem;
    padding-top: 0.625rem;
  }
  .sess-details > p {
    font: var(--poppins-semibold);
    font-size: 0.875rem;
    color: var(--clr-black);
  }
  .sess-details > h5 {
    border: none;
    width: 156px;
    height: 20px;
  }
  .sess-details {
    display: flex;
    justify-content: space-between;
    width: 720px;
    gap: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: none;
  }

  .sess-details:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  .sess-details:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .gray-p {
    align-self: end;
    margin: 0;
    height: 20px;
    min-width: 100px;
    margin-bottom: 1rem;
    font-size: 0.875rem;
  }
  .s-time {
    min-width: 10rem;
  }
  .s-time > p {
    font: var(--poppins-semibold);
    font-size: 1rem;
    color: var(--clr-black);
  }

  .m-courses-img {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1570px) {
  .d-web {
    flex-direction: column;
  }
  .left {
    margin: 0;
    width: 43%;
  }
  .right {
    margin: 0;
    width: 98%;
    background-color: var(--clr-gray);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .sessions {
    width: 60%;
  }
  .sessions > p {
    margin-bottom: 0;
  }
}
@media (min-width: 1570px) {
  .sess-details {
    width: auto;
  }
}
